/* @import "primereact/resources/themes/saga-blue/theme.css"; */
@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth-page {
  background-color: var(--blue-600);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar-menuitem .p-menuitem-link:hover,
.p-sidebar-mask .p-panelmenu-header-content:hover,
.sidebar-menuitem.p-menuitem.p-focus .p-menuitem-content {
  background-color: rgb(148, 232, 172) !important;
}

.custom-menubar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.p-menubar .p-menubar-root-list {
  display: contents;
}

.dateicon-error .p-datepicker-trigger,
.dateicon-error .p-datepicker-trigger:hover {
  border-color: red !important;
  background: none !important;
  color: red !important;
}

.p-input {
  height: 51px;
}

.error-text {
  display: unset;
}
